weather_data.csv
graphCandle.txt
graphPredicton.txt
# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# IDE and editor files
.vscode/
*.code-workspace
*.sublime*
.idea/
*.iml
*.swp
*~

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Build directories
build/
bin/
"Monitor.exe" 
